.Ephox/
.ICEauthority
.IntelliJIdea14/
.IntelliJIdea15/
.IntelliJIdea2016.1/
.WebStorm10/
.Xauthority
.adobe/
.aliedit/
.android/
.bash_history
.bash_logout
.cache/
.compiz/
.config/
.datastudio/
.dbus/
.dmrc
.docker/
.embedmongo/
.gconf/
.gimp-2.8/
.gksu.lock
.gradle/
.grails/
.gstreamer-0.10/
.install4j
.ivy2/
.java/
.kingsoft/
.lesshst
.local/
.m2/
.macromedia/
.mozilla/
.mysql_history
.nano_history
.nbprofiler/
.npm/
.pam_environment
.panamax/
.pki/
.presage/
.profile
.rdm/
.rediscli_history
.remmina/
.rnd
.scala_history
.ssh/
.subversion/
.sudo_as_admin_successful
.sunpinyin/
.TheBrain/
.vagrant.d/
.visualvm/
.xinputrc
.xsession-errors
.xsession-errors.old
.zshrc
Pictures/
docker/
idea/
idea.tar.gz
personal/
zone-service-test.jmx
works/
